<div>
    <h2 data-translate="tomatiendaApp.cfisica.home.title">Cfisicas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="cfisica.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tomatiendaApp.cfisica.home.createLabel">
                        Create new Cfisica
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="importe"><span data-translate="tomatiendaApp.cfisica.importe">Importe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span data-translate="tomatiendaApp.cfisica.fecha">Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="codigo"><span data-translate="tomatiendaApp.cfisica.codigo">Codigo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="empleado.id"><span data-translate="tomatiendaApp.cfisica.empleado">Empleado</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cfisica in vm.cfisicas track by cfisica.id">
                    <td><a ui-sref="cfisica-detail({id:cfisica.id})">{{cfisica.id}}</a></td>
                    <td>{{cfisica.importe}}</td>
                    <td>{{cfisica.fecha | date:'medium'}}</td>
                    <td>{{cfisica.codigo}}</td>
                    <td>
                        <a ui-sref="empleado-detail({id:cfisica.empleado.id})">{{cfisica.empleado.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="cfisica-detail({id:cfisica.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cfisica.edit({id:cfisica.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="cfisica.delete({id:cfisica.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
