<div>
    <h2 data-translate="tomatiendaApp.producto.home.title">Productos</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="producto.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="tomatiendaApp.producto.home.createLabel">
                        Create new Producto
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="tomatiendaApp.producto.nombre">Nombre</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stock"><span data-translate="tomatiendaApp.producto.stock">Stock</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="caducidad"><span data-translate="tomatiendaApp.producto.caducidad">Caducidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="seccion"><span data-translate="tomatiendaApp.producto.seccion">Seccion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="tomatiendaApp.producto.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pvp"><span data-translate="tomatiendaApp.producto.pvp">Pvp</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="pcompra"><span data-translate="tomatiendaApp.producto.pcompra">Pcompra</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minstock"><span data-translate="tomatiendaApp.producto.minstock">Minstock</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lote"><span data-translate="tomatiendaApp.producto.lote">Lote</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span data-translate="tomatiendaApp.producto.foto">Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="producto in vm.productos track by producto.id">
                    <td><a ui-sref="producto-detail({id:producto.id})">{{producto.id}}</a></td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.caducidad | date:'medium'}}</td>
                    <td>{{producto.seccion}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.pvp}}</td>
                    <td>{{producto.pcompra}}</td>
                    <td>{{producto.minstock}}</td>
                    <td>{{producto.lote}}</td>
                    <td>{{producto.foto}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="producto-detail({id:producto.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="producto.edit({id:producto.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="producto.delete({id:producto.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
